.addpost_main {
margin-left: 15rem;
background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);

/* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

/* @media (max-width:655px) {
    .addpost_main{
        margin-left: 0rem;
    }
} */

@media (max-width:660px) {
    .addpost_main {
        margin-left: 80px;
    }
}

@media (max-width:390px) {
    .addpost_main {
        margin-left: 50px;
    }
}



.add_post_card{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT38As179L7Np2anhOV75SwiCzn86QEjoKmCmRRBPXpRajo4zpnVOgSYgFRp3KZpbnGfUQ&usqp=CAU'); 
    background-size: cover; 
    background-position: center;
    background-repeat:no-repeat;
    animation: addpost   1s ease-out ;
}

@keyframes addpost {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



