.custome_css_blog {
    animation: slideIn 1s ease-out;
  
}

.button_BLog_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
}

@keyframes slideIn {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.blog_btn {
    /* border: 2px solid red; */
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: white;
    margin: 5px;
}

.update {
    background-color: green;
}

.delete {
    background-color: red;
}

@media (max-width:780px) {
    .button_BLog_main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        border: 2px solid red;
        width: 100%;
        gap: 2px;
    }

    .update {
        background-color: green;
        min-width: 150px;
    }

    .delete {
        background-color: red;
        min-width: 150px;
    }

}

.custom_add_page_image {
    width: 100%;
    padding: 20px;
    max-height: 400px;
}