
#blogpostmain{
    /* background-color: red !important; */
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
    margin-left: 15rem;
}


/* @media (max-width:655px) {
    #blogpostmain{
        margin-left: 0rem;
    }
} */

@media (max-width:660px) {
    #blogpostmain {
        margin-left: 80px;
    }
}

@media (max-width:390px) {
    #blogpostmain {
        margin-left: 50px;
    }
}


.button_BLog_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
}



.blog_btn {
    /* border: 2px solid red; */
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: white;
    margin: 5px;
}

.update {
    background-color: green;
}

.delete {
    background-color: red;
}

@media (max-width:780px) {
    .button_BLog_main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        border: 2px solid red;
        width: 100%;
        gap: 2px;
    }

    .update {
        background-color: green;
        min-width: 150px;
    }

    .delete {
        background-color: red;
        min-width: 150px;
    }

}

.custom_add_page_image {
    width: 100%;
    padding: 20px;
    max-height: 400px;
}