.userdetails_main{
background:radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%) ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16rem;
}


@media (max-width:655px) {
    .userdetails_main{
        margin-left: 0rem;
    }
}


.usermain{
    animation: deepak 0.5s linear;
}

@keyframes deepak {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: scale(0.6) rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: scale(1.2) rotate(360deg);
        opacity: 1;
    }

}